.root {
  display: -ms-grid;
  display: grid;
  background: #132430;
  height: 100vh;
  width: 100vw;
}

.root nav {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.root .selectors-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.root .selectors-container .selectors {
  border-color: #fa9746;
  color: #fa9746;
}

.root .selectors-container .selectors:focus {
  outline: none;
}

.root .selectors-container .selectors select {
  height: 50px;
  background-color: #eaf3fa;
  border: 2px solid #7499f1;
  font-size: 1rem;
  color: #7499f1;
  padding: 0.8rem;
}

.root .selectors-container .selectors select:hover {
  cursor: pointer;
}

.root .selectors-container .selectors select:focus {
  outline: none;
}

.root .selectors-container form {
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .selectors-container form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  height: 100%;
  background-color: #eaf3fa;
  color: #0b6783;
  border: none;
}

.root .selectors-container form input:focus {
  outline: none;
}

.root .selectors-container form button {
  height: 100%;
  border: none;
  background-color: #7499f1;
  color: white;
}

.root .selectors-container form button:hover {
  background-color: #668ff0;
  cursor: pointer;
}

.root .selectors-container form ul {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
}

.formContainer {
  z-index: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.error-container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error-container div {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.error-container .error-image {
  width: 100%;
}

canvas {
  padding-block: 1rem;
  padding-inline: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.graphContainer {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media only screen and (min-width: 1400px) {
  .root {
    -ms-grid-columns: 1fr 70% 1fr;
        grid-template-columns: 1fr 70% 1fr;
    -ms-grid-rows: 4rem 1fr 2fr;
        grid-template-rows: 4rem 1fr 2fr;
  }
  .formContainer {
    padding: 2rem;
  }
  .formContainer form input {
    width: 75%;
  }
  .formContainer form button {
    width: 25%;
  }
}

@media only screen and (max-width: 1400px) {
  .root {
    -ms-grid-columns: 1fr 90% 1fr;
        grid-template-columns: 1fr 90% 1fr;
    -ms-grid-rows: 4rem 1fr 2fr;
        grid-template-rows: 4rem 1fr 2fr;
  }
  .formContainer {
    padding: 2rem;
  }
  .formContainer form input {
    width: 75%;
  }
  .formContainer form button {
    width: 25%;
  }
}

@media only screen and (max-width: 1000px) {
  .formContainer {
    padding: 2rem;
  }
  .formContainer .selectors-container {
    margin-top: 3rem;
  }
  .formContainer .selectors-container form {
    margin-top: 0.5rem;
    width: 80%;
  }
  .formContainer .selectors-container form input {
    width: 80%;
  }
  .formContainer .selectors-container form button {
    width: 20%;
  }
  .formContainer .selectors-container .selectors select {
    border-radius: 5px;
    margin-inline: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .formContainer {
    padding-inline: 0;
  }
  .formContainer .selectors-container {
    margin-top: 3rem;
  }
  .formContainer .selectors-container .selectors select {
    width: 45%;
    border-radius: 5px;
    margin-inline: 0.5rem;
  }
  .formContainer .selectors-container form {
    margin-top: 0.5rem;
    width: 90%;
  }
  .formContainer .selectors-container form input {
    width: 70%;
  }
  .formContainer .selectors-container form button {
    width: 30%;
  }
}
/*# sourceMappingURL=trendsPage.module.css.map */