@import "./_graph.module.scss";
@import "../../UI/styling/vars";

@mixin flex($direction, $justify:center, $align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center; 
    align-items: center; 
}

.root{
    @include flex(column, space-evenly, center);
    background: darken($background-color, 5);
    height: 100vh;
    width: 100vw;
    .selectors-container{
        @include flexCenter(row);
        margin-top: 1rem;
        .selectors{
            background-color: white;
            border-color: $highlight-color;
            color: $highlight-color;
            &:focus{      
                outline: none;
            }
            select{
                height: 50px;
            }
        }
        form{
            height: 50px;
            input{
                box-sizing: border-box;
                padding: 0;
                padding-left: .5rem;
                height: 100%;
                border: 1px solid dodgerblue;
            }
            button{ 
                height: 100%;
                width: 100px;
                border: 1px solid $dark-color;
                background-color: $dark-color;
                color: white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
}
    
}

.formContainer{
    width: 50%;
    justify-self: flex-start;
    z-index: 1;
}

.error-container{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .error-image{
        width: 100%;
    }
}

@media only screen and (min-width: 1400px) {
    .graphContainer{
        width: 60vw;
        height: 60vh;
    }
}
@media only screen and (max-width: 1400px) {
    .graphContainer{
        width: 80vw;
        height: 50vh;
    }
}
@media only screen and (max-width: 600px) {
    .graphContainer{
        width: 90vw;
        height: 40vh;
    }
}