
.wordCloud{
    width: 100%;
    .wordCloudRow{
        margin: 1rem;
        display: flex;
        justify-content: center;
        .wordCloudItem{
            display: inline-block;
            border-radius: 6px !important; 
            height: 20px !important;
            margin: .5rem;
            opacity: 0.8;
            animation: blinking 2s infinite ease-in-out;
            @keyframes blinking {
                0%{opacity: 0.6;}
                50%{opacity: 1;}
                100%{opacity: 0.6;}
            }
        }
    }
}
