@import '../../../UI/styling/vars';
@mixin flexCenter($direction, $justify:center, $align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
header{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgba(234,243,250,255);
    img{
        position: absolute;
        width: auto;
        z-index: 0;
    }
    @include flexCenter(column,center ,center);
}

nav{
    @include flexCenter(row,space-between ,center);
    padding-inline: 3rem;
    height: 4rem;
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.288);

    z-index: 1;
    div{
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        &::after{
            display:block;
            content: '';
            border-bottom: solid 3px #ffffff;  
            transform: scaleX(0);  
            transform-origin: 100% 50%;
            transition: transform 250ms ease-in-out;
        }
        &:hover{
            cursor: pointer;
            &::after{
                transform: scaleX(1); transform-origin:   0% 50%;
            }
        } 
    }
    .date-selector{
        max-height: 100%;
        background-color: white;
        border: none;
        color: $dark-color;
        padding: .8rem;
        &:hover{
            cursor: pointer;
        }
        &:focus{      
            outline: none;
        }
    }
}

#header-content{
    margin-top: 10rem;
    @include flexCenter(column,center ,flex-start);
    .type-writer-container{
        color: $dark-color;
        margin-bottom: 1rem;
        .type-writer{
            color: $highlight-color;
            font-weight: 700;
        }
        .flicker{
            display: inline-block;
            height: 1.5rem;
            width: 3px;
            margin-left: 2px;
            background-color: white;
            animation: blink infinite .8s;
            @keyframes blink {
                0% {background-color: transparent;}
                45% {background-color: transparent;}
                50% {background-color: white;}
                95% {background-color: white;}
                100% {background-color: transparent;}
            }
        }
    }
    
    .word-cloud-wrapper{
        height: 200px;
    }
}
#jump-to-section{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    position: absolute;
    bottom: 3rem;
    animation: arrowAnimation 2s ease-in-out infinite;
    transition: animation-play-state .5s;

    @keyframes arrowAnimation {
        0%{bottom: 4rem;}
        50%{bottom: 1rem;}
        100%{bottom: 4rem;}
    }
    &:hover{
        animation-play-state: paused;
        cursor: pointer;
    }
}


@media only screen and (min-width: 900px) {

    header{
        img{
            top: 3rem;
            max-width: 80vw;
            max-height: 40vh;
        }
    }
    #header-content{
        @include flexCenter(column,center ,center );
        min-width: 650px;
        width: 50%;
                .type-writer-container{
                    width: 100%;
                    font-size: 2rem;
            }
    }
    .word-cloud-wrapper{
        width: 700px;
    }
}
@media only screen and (max-width: 900px) {


    header{
        img{
            top: 4rem;
            max-width: 80vw;
            max-height: 40vh;
        }
    }
    #header-content{
        width: 80%;
                .type-writer-container{
                    width: 100%;
                    font-size: 2rem;
            }
    }
    .word-cloud-wrapper{
        width: 600px;
    }
}
@media only screen and (max-width: 750px) {
    .word-cloud-wrapper{
        width: 500px;
    }
}
@media only screen and (max-width: 600px) {

    header{
        img{
            top: 5rem;
            max-width: 85vw;
            max-height: 50vh;
        }
    }

    #header-content{
        width: 90%;
        @include flexCenter(column,center ,center );
                .type-writer-container{
                    width: 100%;
                    font-size: 1.5rem;
            }
    }
    .word-cloud-wrapper{
        width: 400px;
    }
}