@import '../../../UI/styling/vars';
@mixin flexCenter($direction, $justify:center, $align:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
header{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: linear-gradient(43deg, #0081A7 0%, #00AFB9 100%);
    @include flexCenter(column,center ,center);
}

nav{
    @include flexCenter(row,space-between ,center);
    padding-inline: 3rem;
    height: 4rem;
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;

    div{
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        &::after{
            display:block;
            content: '';
            border-bottom: solid 3px #ffffff;  
            transform: scaleX(0);  
            transform-origin: 100% 50%;
            transition: transform 250ms ease-in-out;
        }
        &:hover{
            cursor: pointer;
            &::after{
                transform: scaleX(1); transform-origin:   0% 50%;
            }
        } 
    }
    .date-selector{
        max-height: 100%;
        background-color: #0099a1;
        border: none;
        color: white;
        padding: .8rem;
        &:hover{
            cursor: pointer;
        }
        &:focus{      
            outline: none;
        }
    }
}

#header-content{
    position: absolute;
    width: 100%;
    top: 10rem;
    @include flexCenter(column,center ,center);

    .form-content{  
    margin: 2rem 2rem 0 2rem;
    .type-writer-container{
        color: white;
        margin-bottom: 1rem;
        .type-writer{
            color: $highlight-color;
            font-weight: 700;
        }
        .flicker{
            display: inline-block;
            height: 1.5rem;
            width: 3px;
            margin-left: 2px;
            background-color: white;
            animation: blink infinite .8s;
            @keyframes blink {
                0% {background-color: transparent;}
                45% {background-color: transparent;}
                50% {background-color: white;}
                95% {background-color: white;}
                100% {background-color: transparent;}
            }
        }
    }
    #form{
        @include flexCenter(row,flex-start ,center );
        border: 2px solid rgb(212, 212, 212);
        border-radius: 5px;
        width: 60vw;
        overflow: hidden;
        input{
            box-sizing: border-box;
            padding-inline: .5rem;
            height: 3rem;
            font-size: 1.5rem;
            width: 80%;
            background-color: rgb(184, 221, 231);
            color: #0b6783;
            border: none;
            &:focus{
                outline: none;
            }
        }
        button{
            border: none;
            border-left: 1px solid rgb(212, 212, 212);
            background-color: transparent;
            color: white;
            height: 3rem;
            width: 20%;
            font-size: 1.2rem;
            // padding-inline: 1rem;
            transition: all .1s;
            &:hover{
                transition: all .1s;
                cursor: pointer;
                background-color: darken(#009bb1,2);
                
            }
        }
    }
    }
}
#jump-to-section{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    position: absolute;
    bottom: 3rem;
    background-size: 50%;
    animation: arrowAnimation 2s ease-in-out infinite;
    transition: animation-play-state .5s;

    @keyframes arrowAnimation {
        0%{bottom: 4rem;}
        50%{bottom: 1rem;}
        100%{bottom: 4rem;}
    }
    &:hover{
        transition: animation-play-state .5s;
        animation-play-state: paused;
    }
}
@media only screen and (min-width: 900px) {
    .form-content{
        @include flexCenter(column,center ,flex-start );
        width: max-content;
        .type-writer-container{
            font-size: 2rem;
        }
    }
}
@media only screen and (max-width: 900px) {
    // .header-content{
    // width: calc(100vw - 15px);
    // }
    .form-content{
        @include flexCenter(column,center ,center );
        width: 100%;
        .type-writer-container{
            width: 60vw;
            font-size: 3vw;
        }
    }
}
@media only screen and (max-width: 600px) {
    // .header-content{
    // width: calc(100vw - 15px);
    // }
    #form{
        button{
            width: 72px !important;
        }
    }
    .form-content{
        @include flexCenter(column,center ,center );
        width: 100%;
        .type-writer-container{
            width: 60vw;
            font-size: 1rem;
        }
    }
}