header {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: #eaf3fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  position: absolute;
  width: auto;
  z-index: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 3rem;
  height: 4rem;
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.288);
  z-index: 1;
}

nav div {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

nav div::after {
  display: block;
  content: '';
  border-bottom: solid 3px #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

nav div:hover {
  cursor: pointer;
}

nav div:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

nav .date-selector {
  max-height: 100%;
  background-color: white;
  border: none;
  color: #7499f1;
  padding: .8rem;
}

nav .date-selector:hover {
  cursor: pointer;
}

nav .date-selector:focus {
  outline: none;
}

#header-content {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#header-content .type-writer-container {
  color: #7499f1;
  margin-bottom: 1rem;
}

#header-content .type-writer-container .type-writer {
  color: #fa9746;
  font-weight: 700;
}

#header-content .type-writer-container .flicker {
  display: inline-block;
  height: 1.5rem;
  width: 3px;
  margin-left: 2px;
  background-color: white;
  -webkit-animation: blink infinite .8s;
          animation: blink infinite .8s;
}

@-webkit-keyframes blink {
  0% {
    background-color: transparent;
  }
  45% {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
  95% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes blink {
  0% {
    background-color: transparent;
  }
  45% {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
  95% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

#header-content .word-cloud-wrapper {
  height: 200px;
}

#jump-to-section {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  position: absolute;
  bottom: 3rem;
  -webkit-animation: arrowAnimation 2s ease-in-out infinite;
          animation: arrowAnimation 2s ease-in-out infinite;
  -webkit-transition: -webkit-animation-play-state .5s;
  transition: -webkit-animation-play-state .5s;
  transition: animation-play-state .5s;
  transition: animation-play-state .5s, -webkit-animation-play-state .5s;
}

@-webkit-keyframes arrowAnimation {
  0% {
    bottom: 4rem;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 4rem;
  }
}

@keyframes arrowAnimation {
  0% {
    bottom: 4rem;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 4rem;
  }
}

#jump-to-section:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  header img {
    top: 3rem;
    max-width: 80vw;
    max-height: 40vh;
  }
  #header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 650px;
    width: 50%;
  }
  #header-content .type-writer-container {
    width: 100%;
    font-size: 2rem;
  }
  .word-cloud-wrapper {
    width: 700px;
  }
}

@media only screen and (max-width: 900px) {
  header img {
    top: 4rem;
    max-width: 80vw;
    max-height: 40vh;
  }
  #header-content {
    width: 80%;
  }
  #header-content .type-writer-container {
    width: 100%;
    font-size: 2rem;
  }
  .word-cloud-wrapper {
    width: 600px;
  }
}

@media only screen and (max-width: 750px) {
  .word-cloud-wrapper {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  header img {
    top: 5rem;
    max-width: 85vw;
    max-height: 50vh;
  }
  #header-content {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header-content .type-writer-container {
    width: 100%;
    font-size: 1.5rem;
  }
  .word-cloud-wrapper {
    width: 400px;
  }
}
/*# sourceMappingURL=header.module.css.map */